.u-section-1 .u-sheet-1 {
    min-height: 886px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin: 0;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 431px;
}

.u-section-1 .u-container-layout-1 {
    padding: 9px 13px;
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 11px auto 0 11px;
}

.u-section-1 .u-group-1 {
    min-height: 34px;
    margin: 23px 0 0;
}

.u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-1 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-2 {
    min-height: 34px;
    margin: 11px 0 0;
}

.u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-2 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-3 {
    min-height: 34px;
    margin: 11px 0 0;
}

.u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-3 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-4 {
    min-height: 34px;
    margin: 11px 0 0;
}

.u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-4 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-5 {
    min-height: 34px;
    margin: 11px 0 0;
}

.u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-5 {
    margin: 0;
}

.u-section-1 .u-group-6 {
    min-height: 34px;
    margin: 11px 0 0;
}

.u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-6 {
    margin: -30px 30px 0;
}

.u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 30px 11px 0 auto;
    padding: 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 431px;
}

.u-section-1 .u-container-layout-8 {
    padding: 20px 30px;
}

.u-section-1 .u-btn-3 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-group-7 {
    min-height: 34px;
    margin-bottom: 0;
    margin-top: 23px;
}

.u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-7 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-8 {
    min-height: 34px;
    margin-bottom: 0;
    margin-top: 11px;
}

.u-section-1 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-8 {
    margin: 8px 0 0;
}

.u-section-1 .u-group-9 {
    min-height: 34px;
    margin-bottom: 0;
    margin-top: 11px;
}

.u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-9 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-10 {
    min-height: 34px;
    margin-bottom: 0;
    margin-top: 11px;
}

.u-section-1 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-10 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-11 {
    min-height: 34px;
    margin-bottom: 0;
    margin-top: 11px;
}

.u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-11 {
    margin: 4px 0 0;
}

.u-section-1 .u-group-12 {
    min-height: 34px;
    margin-bottom: 0;
    margin-top: 11px;
}

.u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-12 {
    margin: 4px 0 0;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 19px 11px 0 auto;
    padding: 0;
}

.u-section-1 .u-group-13 {
    min-height: 354px;
    margin-bottom: 60px;
    margin-top: 15px;
    height: auto;
}

.u-section-1 .u-container-layout-15 {
    padding: 28px 30px;
}

.u-section-1 .u-btn-5 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-list-1 {
    width: 616px;
    margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    min-height: 234px;
    grid-gap: 32px 32px;
}

.u-section-1 .u-container-layout-16 {
    padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-13 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 42px auto 0 6px;
}

.u-section-1 .u-text-14 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 28px auto 0 30px;
}

.u-section-1 .u-container-layout-17 {
    padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-15 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 42px auto 0 6px;
}

.u-section-1 .u-text-16 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 28px auto 0 30px;
}

.u-section-1 .u-btn-6 {
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: -10px 0 0 auto;
    padding: 0;
}
.dsdssd{
    position: absolute;
    color: hsl(49, 89%, 40%);
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 526px;
    }
    .u-section-1 .u-layout-wrap-1 {
        position: relative;
        width: 940px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 355px;
    }
    .u-section-1 .u-btn-1 {
        margin-left: 0;
    }
    .u-section-1 .u-group-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-group-2 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-group-3 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-group-4 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-group-5 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-group-6 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-text-6 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-btn-2 {
        margin-right: 0;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 355px;
    }
    .u-section-1 .u-btn-4 {
        margin-right: 0;
    }
    .u-section-1 .u-group-13 {
        height: auto;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 16px));
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 371px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 720px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }
    .u-section-1 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 816px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 540px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-5 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-8 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-9 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-11 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-13 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-14 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-15 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-16 {
        padding-right: 10px;
    }
    .u-section-1 .u-container-layout-17 {
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 464px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 340px;
    }
    .u-section-1 .u-text-14 {
        font-size: 1.5rem;
    }
    .u-section-1 .u-text-16 {
        font-size: 1.5rem;
    }
}