.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 1221px;
}

.u-section-1 .u-text-1 {
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    margin: 77px 320px 0 158px;
}

.u-section-1 .u-group-1 {
    width: 403px;
    min-height: 802px;
    height: auto;
    margin: 30px auto 0 43px;
}

.u-section-1 .u-container-layout-1 {
    padding: 6px 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
    margin: 0 22px 0 auto;
    padding: 9px 18px 10px 17px;
}

.u-section-1 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    margin: 70px auto 0 30px;
}

.u-section-1 .u-text-3 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    margin: 40px auto 0 30px;
}

.u-section-1 .u-text-5 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-text-6 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    background-image: none;
    margin: 40px auto 0 30px;
}

.u-section-1 .u-text-7 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: Poppins;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-text-8 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    margin: 40px 90px 0 30px;
}

.u-section-1 .u-text-9 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: Poppins;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-text-10 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    margin: 40px auto 0 30px;
}

.u-section-1 .u-text-11 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: Poppins;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-text-12 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    margin: 40px 222px 0 30px;
}

.u-section-1 .u-text-13 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-text-14 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    margin: 40px 282px 0 30px;
}

.u-section-1 .u-text-15 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1;
    margin: 12px 90px 0 30px;
}

.u-section-1 .u-image-1 {
    width: 616px;
    height: 410px;
    margin: -765px 45px 0 auto;
}

.u-section-1 .u-list-1 {
    width: 616px;
    margin: 30px 45px 0 auto;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    min-height: 234px;
    grid-gap: 32px 32px;
}

.u-section-1 .u-container-layout-2 {
    padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-16 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 42px auto 0 6px;
}

.u-section-1 .u-text-17 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 28px auto 0 30px;
}

.u-section-1 .u-container-layout-3 {
    padding: 20px 20px 20px 0;
}

.u-section-1 .u-text-18 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 42px auto 0 6px;
}

.u-section-1 .u-text-19 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 28px auto 0 30px;
}

.u-section-1 .u-btn-2 {
    background-image: none;
    border-style: none;
    margin: -666px 55px 60px auto;
    padding: 9px 18px 10px 17px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        width: auto;
        margin-top: 103px;
        margin-right: 309px;
        margin-left: 169px;
    }
    .u-section-1 .u-group-1 {
        margin-top: 0;
        margin-left: 0;
        height: auto;
    }
    .u-section-1 .u-image-1 {
        width: 509px;
        margin-top: -766px;
        margin-right: 12px;
    }
    .u-section-1 .u-list-1 {
        width: 525px;
        margin-top: 40px;
        margin-right: -10px;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 16px));
        min-height: 440px;
    }
    .u-section-1 .u-text-16 {
        margin-top: 0;
    }
    .u-section-1 .u-text-18 {
        margin-top: 0;
    }
    .u-section-1 .u-btn-2 {
        margin-top: -877px;
        margin-right: 28px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1715px;
    }
    .u-section-1 .u-text-1 {
        margin-top: 12px;
        margin-right: auto;
        margin-left: 99px;
    }
    .u-section-1 .u-group-1 {
        margin-top: 426px;
        min-height: 666px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-1 .u-btn-1 {
        margin-right: 40px;
        margin-left: 593px;
    }
    .u-section-1 .u-text-2 {
        margin-top: -2px;
    }
    .u-section-1 .u-text-7 {
        width: auto;
        margin-top: 0;
    }
    .u-section-1 .u-image-1 {
        margin-top: -1076px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-1 .u-list-1 {
        margin-top: 1180px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: calc(50% - 16px) calc(50% - 16px);
        min-height: 425px;
    }
    .u-section-1 .u-btn-2 {
        margin-top: -2000px;
        margin-right: 16px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1485px;
    }
    .u-section-1 .u-text-1 {
        margin-top: 16px;
        margin-left: 28px;
    }
    .u-section-1 .u-group-1 {
        margin-top: 457px;
        min-height: 589px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-container-layout-1 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .u-section-1 .u-btn-1 {
        margin-top: 12px;
        margin-right: 12px;
        margin-left: auto;
    }
    .u-section-1 .u-text-2 {
        margin-top: -30px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-3 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-4 {
        margin-left: 60px;
    }
    .u-section-1 .u-text-5 {
        width: auto;
        margin-top: 27px;
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-6 {
        width: auto;
        margin-top: 0;
        margin-right: 424px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-7 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-8 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-9 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-10 {
        margin-left: 60px;
    }
    .u-section-1 .u-text-11 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-12 {
        margin-right: 252px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-13 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-14 {
        margin-right: 312px;
        margin-left: 60px;
    }
    .u-section-1 .u-text-15 {
        margin-right: 120px;
        margin-left: 60px;
    }
    .u-section-1 .u-image-1 {
        margin-top: -1014px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-list-1 {
        margin-top: 598px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 16px));
    }
    .u-section-1 .u-container-layout-2 {
        padding-right: 36px;
    }
    .u-section-1 .u-container-layout-3 {
        padding-right: 36px;
    }
    .u-section-1 .u-btn-2 {
        margin-top: -1412px;
        margin-right: 21px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1350px;
    }
    .u-section-1 .u-text-1 {
        font-size: 2rem;
        margin-top: 0;
        margin-left: 10px;
    }
    .u-section-1 .u-group-1 {
        margin-top: 318px;
        min-height: 488px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-btn-1 {
        margin-top: 9px;
        margin-right: 11px;
    }
    .u-section-1 .u-text-2 {
        width: auto;
        margin-top: -22px;
        margin-left: 38px;
    }
    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 7px;
        margin-right: 12px;
        margin-left: 38px;
    }
    .u-section-1 .u-text-4 {
        width: auto;
        margin-top: 41px;
        margin-left: 40px;
    }
    .u-section-1 .u-text-5 {
        margin-top: 6px;
        margin-right: 115px;
        margin-left: 38px;
    }
    .u-section-1 .u-text-6 {
        margin-top: 20px;
        margin-right: 94px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-7 {
        margin-right: 12px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-8 {
        width: auto;
        margin-top: 22px;
        margin-right: 74px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-9 {
        width: auto;
        margin-top: 7px;
        margin-right: 11px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-10 {
        width: auto;
        margin-top: 16px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-11 {
        width: auto;
        margin-top: 5px;
        margin-right: 74px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-12 {
        width: auto;
        margin-top: 15px;
        margin-right: 74px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-13 {
        width: auto;
        margin-top: 4px;
        margin-right: 28px;
        margin-left: 37px;
    }
    .u-section-1 .u-text-14 {
        width: auto;
        margin-top: 19px;
        margin-right: 170px;
        margin-left: 38px;
    }
    .u-section-1 .u-text-15 {
        width: auto;
        margin-top: 7px;
        margin-right: 80px;
        margin-left: 37px;
    }
    .u-section-1 .u-image-1 {
        object-position: 74.14% 0%;
        height: 274px;
        margin-top: -818px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-list-1 {
        margin-top: 633px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-1 .u-repeater-1 {
        min-height: 349px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-right: 10px;
    }
    .u-section-1 .u-text-17 {
        font-size: 3rem;
    }
    .u-section-1 .u-container-layout-3 {
        padding-right: 10px;
    }
    .u-section-1 .u-text-19 {
        font-size: 3rem;
    }
    .u-section-1 .u-btn-2 {
        margin-top: -1341px;
        margin-right: -20px;
        margin-bottom: 1296px;
    }
}